body {
	font: 12px black "Verdana" sans-serif;
	margin: 2px;
	min-width: 960px;
	width: 100%;
}


#page_title {
	color: gainsboro;
	background-color: black;
	border: solid black;
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	padding: 10px;
	
}


#main {
	float: left;
	width: 100%;

}


.content {
	background-color: gainsboro;
	padding: 0;
	margin: auto;
	width: 50%;
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 20px;
	letter-spacing: 0.3px;
}

.content h1 {
	font-size: 16px;
	font-weight:  bolder;
	color: darkgoldenrod;
}

.content h2 {
	font-size:12px;
	font-weight: bolder;
	color: black;
}

.highlight {
	color: darkgoldenrod;
	font-weight: bolder;
}

.content img {
	display: block;
}

.content a {
	font-weight: bolder;
}

.content a:hover {
	text-decoration: none;
	color: gainsboro;
}



footer {
	float: left;
	color: gainsboro;
	background-color: black;
	border: solid black;
	font-size: smaller;
	text-align: left;
	padding: 10px;
	width: 100%;
}


footer a:hover {
	text-decoration: none;
	color: #ffffff;
}