.nav {
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid black;
}


.nav-button {
	width: 40%;
	letter-spacing: 1.5px;
	font-weight: bolder;
	display: inline;
	padding: 16px;
}

.nav-button a {
	text-decoration: none;
	color: black;
}

.nav-button a:hover {
	color: darkgoldenrod;
	text-decoration: none;
}


