@font-face {
    font-family: "MyOpenModerna";
    src: url(MgOpenModernaRegular.ttf);
}


/* general */

body {
	font: 12px black "Verdana" sans-serif;
	margin: 2px;
	min-width: 960px;
	width: 100%;
}



#page_title {
	color: cadetblue;
	background-color: black;
	border: solid black;
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	padding: 10px;
	
}

/* main */

#main {
	float: left;
	width: 100%;
}

#left {
	width: 65%;
	float: left;
	border-right: 1px solid black;
}

#right {
	width: 30%;
	float:right;
}

/*main left */

#content {
	padding: 0;
	margin: auto;
	width: 40%;
}

.content.p {
	font-family: "MyOpenModerna", sans-serif;
}

.content_img {
	display: block;
	width: 95.7446808511%;
}

.header_img {
	font-size: 13px;
	font-weight:  bolder;
	color: cadetblue;
}

/* main right */

#side {
	border: dashed black 1px;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	width: 45%;
}

#side h1 {
	font-size: 13px;
	font-weight: bolder;
	font-style: italic;
}

.aside_a:hover {
	text-decoration: none;
	font-weight: bolder;
}


/* footer */

#footer {
	float: left;
	color: mediumseagreen;
	background-color: black;
	border: solid black;
	font-size: smaller;
	text-align: left;
	padding: 10px;
	width: 100%;
}

#footer_a:hover {
	text-decoration: none;
	font-weight: bolder;
}

